.trip{
    margin: 4rem 6rem;
    color: black;
}

.trip h1{
    font-size: 3rem;
}

.tripcard{
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
    margin-top: 3rem;
    
}
.t-card{
    
    text-align: start;
    box-shadow: 0 5px 25px 2px  rgba(0,0,0,0.1);
    border-radius:7px;
    cursor: pointer;
    padding: 1rem .8rem ;
}

.t-image{
   position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img{
    width: 100%;
    transition: 2s ease-in;
    border-radius: 7px;
    object-fit: cover;
}

.t-image:hover img{
transform: scale(1.1);
}
.t-card h4{
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width:850px) {
    .trip{
        margin: 4rem 2rem;
    }
    .tripcard{
        grid-template-columns: repeat(1,1fr);
   
        flex-direction: column;
        
    }
    .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}